## Listas

In [2]:
lista = [1, 2, 3, 5, 8]

rev = lista[:]
rev.reverse()

print(lista)
print(rev)

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]

## Tuplas

In [3]:
tupla = (1, 2)
type(tupla)

tuple

## Laço de repetição FOR

In [4]:
for num in lista:
    print(num)

1
2
3
5
8

In [5]:
list = []

for i in range(3):
    list.append(i)

list

[0, 1, 2]

In [6]:
# Using list-comprehension

[i for i in range(3)]

[0, 1, 2]

## Laço de repetição WHILE

In [8]:
i = 0
while i < 10:
    print("i: ", i)
    i += 1

i:  0
i:  1
i:  2
i:  3
i:  4
i:  5
i:  6
i:  7
i:  8
i:  9

## Dicionários

In [15]:
dicio = {0: "Janeiro", 1: "Fevereiro"}
dicio[2] = "Março"

In [16]:
dicio

{0: 'Janeiro', 1: 'Fevereiro', 2: 'Março'}

## Funções

In [27]:
def soma(a, b):
    return a + b

In [28]:
soma(2, 2)

4

## Carregando arquivos

In [43]:
with open('dados.txt', 'r') as arquivo:
    conteudo = arquivo.read()
    dados = [int(x) for x in conteudo.split('\n')]

In [47]:
dados

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [49]:
sum = 0

for dado in dados:
    sum += dado

sum

231

## Carregando arquivos com pandas

In [57]:
import pandas as pd

ds = pd.read_csv('dados.txt', header=None)

ds

    0
0   1
1   2
2   3
3   5
4   8
5  13
6  21
7  34
8  55
9  89

In [58]:
ds.sum()

0    231
dtype: int64